/* Add mobile styles for the component here.  */
.page {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    background-color: #82CC33;
}
.form {
    vertical-align: middle;
}