<StackLayout orientation="vertical" class="centered">
    <Image src="~/app/images/Logo.png" stretch="none"></Image>
    <StackLayout orientation="horizontal">
        <Label text = "Username"></Label>
        <TextField hint = "Username" [text]="username" class="input input-border"></TextField>
    </StackLayout>
    <StackLayout orientation="horizontal">
        <Label text = "Password"></Label>
        <TextField hint = "Password" [text]="password" class="input input-border"></TextField>
    </StackLayout>
    <Button text="Sign In" onTap="Home($event)" class="btn btn-primary btn-active"></Button>
</StackLayout>