
<div class="topnav">
  <ul>
    <li><a href="#home">
        <image src="../images/Tumaini black logo png.png" width="140px"></image>
      </a></li>
    <li><a href="#supchild">Supported Children</a></li>
    <li><a href="#hof">Heads of Family</a></li>
    <li><a href="#spon">Sponsors</a></li>
    <li><a href="#sch">Schools</a></li>
    <li><a href="#parwork">Parish Workers</a></li>
    <li><a href="#assoff">Assigned Office</a></li>
    <div class="search-container">
      <form action="/action_page.php">
        <input type="text" placeholder="Search.." name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>
  </ul>
</div>
<div class="homecont">
  <p>Lorem ipsum dolor sit amet,
    consectetur adipiscing elit,
    sed do eiusmod tempor incididunt
    ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud
    exercitation ullamco laboris nisi ut
    aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit
    in voluptate velit esse cillum dolore
    eu fugiat nulla pariatur. Excepteur
    sint occaecat cupidatat
    non proident, sunt in culpa
    qui officia deserunt mollit
    anim id est laborum.</p>
</div>