/* Add mobile styles for the component here.  */
.btn-img{
    border-radius: 5;
    border-width: 1;
    margin: 10;
    color: black;
    border-color: #A8F259;
    background-color: #82CC33;
    text-align: center;
}

.flex-btn {
    align-items: center;
    justify-content: center;
}

.logo {
    border-radius:100%;
    width:90;
    height:90;
    margin: 5;
}

.page {
    background-color: #A8F259;
}