<ActionBar title="Home"></ActionBar>
<FlexboxLayout>
    <StackLayout>
        <StackLayout class="btn-img">
            <Image></Image>
            <Label [text]="user"></Label>
        </StackLayout>
        <StackLayout class="btn-img">
            <Image></Image>
            <Label text="Welcome Back User"></Label>
        </StackLayout class="btn-img">
        <StackLayout>
            <Image></Image>
            <Label text="Welcome Back User"></Label>
        </StackLayout>
        <StackLayout class="btn-img">
            <Image></Image>
            <Label text="Welcome Back User"></Label>
        </StackLayout class="btn-img">
    </StackLayout>
</FlexboxLayout>