.homecont{
    margin-left:25%;
    padding:1px 16px;
    height:1000px;
    }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #707070;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
li a.active {
    background-color: #4CAF50;
    color: white;
  }
  
li a:hover:not(.active) {
    background-color: #F7DB07;
    color: #82CC33;
  }