button {
    font-size: 15;
    horizontal-align: center;
}

.drawerContentText {
    font-size: 13;
    padding: 10;
}

.drawerContentButton {
    margin: 10;
    horizontal-align: center;
}

.sideStackLayout {
    background-color: #A8F259;
}

.sideLabel {
    padding: 10;
    text-align: center;
}

#actionBar {
    background-color: #82CC33;
    /* #A8F259 */
    /* background-color: #A8F259 */
}
.action-image {
    height: 30;
    vertical-align: center;
    horizontal-align: center;
}